@import url(global.css);
    
body {
    background: #FEFFE9;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Header */
header {
    background: var(--purple-primary);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    font-size: 36px;
    font-family: "Gasoek One", sans-serif;
    color: var(--blue-primary);
    letter-spacing: 2px;
}
header .btn-cadastrar {
    background: var(--yellow-primary);
    font-family: "Inter", sans-serif;
    padding: 6px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/* Container geral */
main{
    flex-grow: 1;
}
.login-container {
    margin: 40px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-radius: 18px;
}

p{
    font-family: "Inter", sans-serif;
    text-align:center;
    margin:10px 0;
    font-size:14px;
}

/* Área do formulário */
.login-box {
    background: var(--purple-light);
    padding: 40px;
    width: 50%;
    border-radius: 18px 0 0 18px;
}
.login-box h2 {
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
}
.google-btn {
    background: var(--blue-primary);
    font-family: "Inter", sans-serif;
    color: black;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.label-email {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-top: 10px;
    display: block;
    font-size: 16px;
}
.input-email {
    font-family: "Inter", sans-serif;
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: none;
    background: var(--blue-primary);
    margin-bottom: 12px;
    color: black;
}
.btn-submit {
    font-family: "Inter", sans-serif;
    background: var(--yellow-primary);
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
}

/* Painel lateral */
.welcome-box {
    font-family: "Gasoek One", sans-serif;
    background: var(--blue-primary);
    width: 50%;
    border-radius: 0 18px 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--purple-primary);
    font-size: 40px;
}

/* Erro */
.erro {
    font-family: "Inter", sans-serif;
    background: #ffb5b5;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

/* Footer */
#copyright {
    background: var(--purple-primary);
    text-align: center;
    font-size: 20px;
    padding: 25px;
    font-weight: 500;
    color: white;
    font-family: "Inter", sans-serif;
    position: fixed;
    width: 100%;
    bottom: 0;
}